<form>
  <div class="class=" form-group"=" form-group""="form-group""">
    <label for="_username">Username:</label>
    <input type="text" class="form-control" placeholder="Enter username" id="username" name="_username"/>
  </div>
  <div class="class=" form-group"=" form-group""="form-group""">
    <label for="_password">Password:</label>
    <input type="password" id="password" class="form-control" name="_password"/>
  </div>
  <button type="submit">login</button>

</form>
